.post-wrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #a2a2a2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.selected-post-color {
    background-color: #eaeaea;
}

.comment-wrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #a2a2a2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.input-btn-color {
    background-color: #2c9191;
    border-color: #57d5d5;
    padding-bottom: 4px;
    padding-top: 4px;
}

.input-wrapper {
    margin-bottom: 5px;
}

.input {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #343434;
}

.view-wrapper {
    max-height: 100vh;
    overflow-y: scroll;
}

.reply {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #a2a2a2;
    border-style: solid;
    margin-bottom: 3px;
}

.filter {
    padding-top: 10px;
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}
