.postWrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #a2a2a2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.commentWrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #a2a2a2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.inputBtnColor {
    background-color: #2c9191;
    border-color: #57d5d5;
    padding-bottom: 4px;
    padding-top: 4px;
}

.inputWrapper {
    margin-bottom: 5px;
}

.viewWrapper {
    max-height: 100vh;
    overflow-y: scroll;
}
